{% extends "base.html" %}

{% block content %}
    <h1>Upload XML Files</h1>

    <form id="uploadForm">
        <div>
            <label>Main SDM File:</label>
            <input type="file" id="mainFile" accept=".xml" required>
        </div>

        <div>
            <label>CSF File (Optional):</label>
            <input type="file" id="csfFile" accept=".xml">
        </div>

        <div>
            <label>Language Code:</label>
            <input type="text" id="languageCode" value="en-US" required>
        </div>

        <div>
            <label>Country Code:</label>
            <input type="text" id="countryCode" value="USA" maxlength="3" required>
        </div>

        <button type="submit">Process</button>
    </form>

    <div id="status"></div>
    <div id="result"></div>

    <script src="/static/js/upload.js"></script>
{% endblock %}